.App {
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto
}

.divider {
  height: 35px;
}

input {
  height: 20px;
  margin-bottom: 15px;
}

.outer {
  background-color: rgb(189, 185, 185);
  width: 25%;
  margin: 0 auto;
  padding: 18px
}

.inner {
  background-color: white;
  width: 95%;
  margin: 0 auto;
  padding: 5px 3% 20px 3%;
}

.subtitle {
  margin-top: -17px;
  font-size: 75%
}

.content {
  font-size: 90%;
  margin: 0 7px;
}

.footer {
  font-size: 75%
}

button {
  width: 40%;
  margin: 0 auto
}

.line {
  height: 1.5px;
  background-color: rgb(189, 185, 185);  
  margin: 15px 0;
}

[contentEditable=true]:empty::before {
  content: attr(data-placeholder);
  color: rgb(189, 185, 185);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
